#title{
    background-color: bisque;
    color: black;
    text-align: center;
}

.photo{
    height: auto;
    width: 175px;
}

.subtitle{
    color: brown;
    font-weight: 300;
}

.text{
    color: darkblue;
}
